@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*NAVIGATION*/
.nav-wrapper{
    position: absolute;
    width: 100%;
    z-index: 2;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.nav-ul li a{
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-ul li a:hover{
    color: #E00814;
    transition: 0.4s;
    cursor: pointer;
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

header{
    margin-bottom: 60px;
}

.content{
    padding-top: 200px;
}


@media screen and (max-width: 767px) {
    .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
        
    }

    .nav-ul.show{
        display: flex;
    }

    .hamburger{
        display: block;
    }

    .logo{
        width: 40px;
    }

    header{
        margin-bottom: 20px;
    }
}

.nav-wrapper.sticky{
    background-color: #E00814;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
}

.nav-wrapper.black{
    background-color: #E00814;
    transition: 0.2s;
}

/*VIDEO BACKGROUND*/

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }


.video-wrapper {
    width: 100%;
    height: 650px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
  }

@media screen and (min-width: 461px) and (max-width: 767px) {
    .video-wrapper{
        height: 600px;
    }
}

@media screen and (max-width: 460px) {
    .video-wrapper{
        height: 600px; 
    }  
}

/*H1 AND CONTENT*/
.content {
    max-width: 1200px;
    padding: 20px;
    padding-top: 7em;
    margin: 0 auto;
}

.content h1{
    margin-top: 1.7em;
    font-size: 70px;
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

.content > a{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 15px 60px;
    margin-top: 2em;
    font-weight: 800;
    background-color: #E00814;
    text-align: center;
}

.content a:hover{
    background-color: #a7010a;
    transition: 0.4s;
}

@media screen and (min-width: 496px) and (max-width: 767px) {
    .content {
        padding: 20px;
        padding-top: 8em;
        margin: 0 auto;
    }

    .content h1{
        font-size: 50px;
    }

    .content{
        margin-left: 20px;
    }

    header{
        margin-bottom: 108px;
    }
}

@media screen and (min-width: 461px) and (max-width: 495px) {
    .video-wrapper{
        height: 560px;
    }

    .content {
        padding: 20px;
        padding-top: 5em;
        margin: 0 auto;
    }

    .content h1{
        font-size: 50px;
    }

    .content{
        margin-left: 20px;
    }

    header{
        margin-bottom: 104px;
    }
}

@media screen and (min-width: 430px) and (max-width: 460px) {
    .video-wrapper{
        height: 500px;
    }

    .content h1{
        font-size: 45px;
    }

    .content {
        padding: 20px;
        padding-top: 6em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 438px) {
    header{
        margin-bottom: 64px;
    }

   
}

@media screen and (max-width: 429px) {
    .content h1{
        font-size: 45px;
    }

    .content {
        padding: 20px;
        padding-top: 10em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .video-wrapper{
        height: 550px;
    }
}

/*ÚVOD*/
.about{
    margin-top: 9em;
    text-align: center;
}

.about h2{
    font-size: 2.5em;
}

.about p{
    margin-top: 1em;
}

.about_card-item {
    background-color: #E00814;
    color: #fff;
    width: 330px;
    margin: 3em;
}

.about_card-item img{
    width: 330px;
}

.about_card-item p{
    padding-bottom: 1.5em;
}

.about_card{
    display: flex;
    justify-content: center;
    flex-flow: row wrap ;
}

@media screen and (max-width: 767px) {
    .about{
        margin-top: 10em;
    }

    }